<form [formGroup]="form" [autocomplete]="'off'">
    <div fxLayout="column" style="padding: 10px 0px;" >
        <div fxLayout="row" fxFlex fxLayoutAlign="center center">
            <h1>รายการสินค้า</h1>
        </div>

        <div fxLayout="row" fxFlex fxLayoutAlign="center center">
            <mat-chip-listbox aria-label="Fish selection" formControlName="cate" (change)="selectCategory($event)" >
                <mat-chip-option [value]="''" color="accent">ทั้งหมด</mat-chip-option>
                <mat-chip-option *ngFor="let item of listCate" [value]="item.id" 
                    color="accent">{{item.name_th}}</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div fxLayout="row" fxFlex fxLayoutAlign="center center" style=" padding: 15px 0px;" >
            <div fxFlex fxLayoutAlign="center center">
                <table style="width: 80%;" class="table-control table-bordered ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>รูป</th>
                            <th>รายการสินค้า</th>
                            <th>หมวดหมู่</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listPro;index as i">
                            <th>{{i+1}}</th>
                            <th><img src="{{item.file_image}}" width="150px"></th>
                            <th>{{item.name}}</th>
                            <th>{{item.cate_name}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
    <div fxFlex fxLayout="row" style="background-image: url(../../assets/bg-page-bottom.png);">
        <div fxFlex></div>
        <div fxFlex="60">

            <div fxFlex="50">
                <mat-label>
                    <img src="../../assets/app-screen-webp.png" alt="">
                </mat-label>
            </div>

            <div fxFlex="50" fxLayout="column" style=" padding: 10% 0%;" fxLayoutAling="center center">
                <mat-label><h1>ดาวน์โหลดที่</h1></mat-label>
                <div fxLayout="row" fxLayoutGap="15px">
                    <img src="../../assets/app-store.png" alt="" width="200">
                    <img src="../../assets/google-play.png" alt=""width="200">
                </div>
            </div>
        </div>
        <div fxFlex></div>
    </div>

    </div>
</form>