<div fxFill fxLayout="column" fxLayoutAlign="start none">
    <div fxLayout="row" fxFill style="padding: 5vh 0px; background-image: linear-gradient(#fc7e7a, #fd4d49);">
        <div fxFlex></div>
        <div fxFlex="70" fxLayoutGap="15px">
            <mat-card>
                <mat-card-content>
                    <div fxLayout="column">

                        <div fxLayout="row">
                            <div fxLayoutAlign="start center" fxFlex>
                                <button mat-raised-button class="btn-white" (click)="back()">ย้อนกลับ</button>
                            </div>
                            <!-- <div fxLayoutAlign="end center" fxFlex>
                                <button mat-raised-button class="btn-white" (click)="add()">เพิ่มหมวดหมู่</button>
                            </div> -->
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                            <mat-label fxFlex="100" class="text-center">
                                <h1>หมวดหมู่สินค้า</h1>
                            </mat-label>
                        </div>

                        <table class="table-control table-bordered-2" >
                            <thead>
                                <tr>
                                    <th width="10%">#</th>
                                    <th width="45%">ชื่อ</th>
                                    <th width="40%" colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listCategory;index as i">
                                    <th width="10%">{{i+1}}</th>
                                    <th class="text-left" width="45%">{{item.name_th}}</th>
                                    <th class="text-center" width="20%">
                                        <button mat-raised-button [ngClass]="item.is_active == 1 ? 'btn-green' : 'btn-gray'" (click)="active(item)">
                                            {{item.is_active == 1 ? 'ปิดใช้งาน' : 'เปิดใช้งาน'}}
                                        </button>
                                        <!-- {{item.is_active}} -->
                                    </th>
                                    <th class="text-center" width="20%">
                                        <button mat-raised-button class="btn-red" (click)="remove(item)">
                                            ลบรายการ
                                        </button>
                                    </th>
                                </tr>
                                <tr *ngIf="listCategory.length <= 0">
                                    <th colspan="5">ไม่มีข้อมููล</th>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex></div>
    </div>

</div>