<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>
<div fxLayout="column" fxLayoutGap="20px" *ngIf="!isLoading">

    <div fxFlex="80%" fxLayout="column" fxLayoutGap="15px" class="container">
        <h1>สินค้าใหม่</h1>
        <div fxLayout="row" fxLayoutGap="15px">
            <div *ngFor="let item of listNews" fxFlex="15">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="column" class="text-center">
                            <div fxFlex>
                                <img src="{{item.file_image}}" height="150px">
                            </div>
                            <div fxFlex>
                                <mat-label class="pro-name">{{item.cate_name}}</mat-label>
                            </div>
                            <div fxFlex>
                                <mat-label>{{item.price}}.-</mat-label>
                            </div>
                            <div fxFlex>
                                <mat-label><button mat-raised-button
                                        class=" btn-pink">หยิบใส่ตะกร้า</button></mat-label>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="listNews.length <= 0" fxFill>
                <mat-card>
                    <mat-card-content>
                        <div fxFill class="text-center">
                            <mat-label>ไม่มีข้อมูล</mat-label>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex="80%" fxLayout="column" fxLayoutGap="15px" class="container">
        <h1>สินค้าแนะนำ</h1>
        <div fxLayout="row" fxLayoutGap="15px">
            <div *ngFor="let item of listRecom" fxFlex="15">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="column" class="text-center">
                            <div fxFlex>
                                <img src="{{item.file_image}}" height="150px">
                            </div>
                            <div fxFlex>
                                <mat-label class="pro-name">{{item.cate_name}}</mat-label>
                            </div>
                            <div fxFlex>
                                <mat-label>{{item.price}}.-</mat-label>
                            </div>
                            <div fxFlex>
                                <button mat-raised-button class=" btn-pink">หยิบใส่ตะกร้า</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="listRecom.length <= 0" fxFill>
                <mat-card>
                    <mat-card-content>
                        <div fxFill class="text-center">
                            <mat-label>ไม่มีข้อมูล</mat-label>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex="80%" fxLayout="column" fxLayoutGap="15px" class="container">
        <h1>โปรโมชั่น</h1>
        <div fxLayout="row" fxLayoutGap="15px">
            <div *ngFor="let item of listPromo" fxFlex="15">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="column" class="text-center">
                            <div fxFlex>
                                <img src="{{item.file_image}}" height="150px">
                            </div>
                            <div fxFlex>
                                <mat-label class="pro-name">{{item.cate_name}}</mat-label>
                            </div>
                            <div fxFlex>
                                <mat-label>{{item.price}}.-</mat-label>
                            </div>
                            <div fxFlex>
                                <button mat-raised-button class=" btn-pink">หยิบใส่ตะกร้า</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="listPromo.length <= 0" fxFill>
                <mat-card>
                    <mat-card-content>
                        <div fxFill class="text-center">
                            <mat-label>ไม่มีข้อมูล</mat-label>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="15px" class="container text-center">
        <div fxFlex fxLayoutAlign="center center">
            <button fxFlex="30" mat-raised-button class=" btn-pink" (click)="goStore()">ดูเพิ่มเติม</button>
        </div>
    </div>

</div>