<div fxLayout="column">
    <div fxLayout="row" fxFlex style="padding: 5vh 0px;background-image: linear-gradient(#fc7e7a, #fd4d49);">
        <div fxFlex></div>
        <div fxFlex="70" fxLayoutGap="15px">
            <mat-card>
                <mat-card-content>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
                            <button mat-raised-button class="btn-white" (click)="add()">เพิ่มสินค้า</button>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                            <mat-label fxFlex="100" class="text-center">
                                <h1>รายการสินค้า</h1>
                            </mat-label>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>รูป</th>
                                    <th>รายการสินค้า</th>
                                    <th>หมวดหมู่</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listPro;index as i">
                                    <th>{{i+1}}</th>
                                    <th><img src="{{item.file_image}}" width="150px"></th>
                                    <th>{{item.name}}</th>
                                    <th>{{item.cate_name}}</th>
                                    <th>
                                        <button mat-raised-button class="btn-red" (click)="remove(item.id)">
                                            ลบรายการ
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex></div>
    </div>


</div>