<div fxLayout="column">
    <div fxLayout="row" fxFlex="60vh" style="padding: 10vh 0px;background-image: linear-gradient(#fc7e7a, #fd4d49);">
        <div fxFlex></div>
        <div fxFlex="70" fxLayoutAling="center center"  fxLayoutGap="15px">
            
            <div fxLayout="column" fxFlex="40" fxLayoutGap="15px">
                <mat-label class="text-white" >
                    <h1 style="font-size: 40px !important; white-space:normal;line-height: 60px;">สมัครเป็นสมาชิก<br> สเวนเซ่นส์วันนี้ พร้อมรับสิทธิพิเศษมากมายรอคุณอยู่ที่นี่</h1>
                </mat-label>
                <mat-label class="text-white" >
                    <h3 style=" white-space:normal;">พิเศษสุดๆ! สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้ ยิ่งคุ้ม ใครๆ ก็สมัครได้ ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ รอไม่ได้แล้ว สมัครเลย</h3>
                </mat-label>
                
                <div fxFlex fxLayoutAling="center center">
                    <button mat-raised-button class="btn-white" fxFlex="200px" style="max-height: 10vh !important;"> <b>เข้าสู่ระบบ</b> </button>
                </div>
            </div>

            <div fxFlex="60">
                <mat-label>
                    <img src="../../assets/banner-image.png" alt="">
                </mat-label>
            </div>
        </div>
        <div fxFlex></div>
    </div>
</div>