<div fxLayout="column" >
    <!-- Above -->
    <!-- <div fxLayout="row" fxFlex="100px" style="padding: 10px 0px;background-color: #e21c23;"> 
        <div fxFlex="30" fxLayoutAlign="start center">
            <div>&nbsp;</div>
            <button mat-button  (click)="goHome()">
                <img src="../../../assets/swensens-logo.png" alt="" width="150px">
            </button>
        </div>
        <div fxFlex="70" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> ไอศกรีมของเรา </button>
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> สิทธิพิเศษ </button>
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> รีวอร์ด </button>
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> คูปองของฉัน </button>
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> บัตรของขวัญ </button>
            <button mat-button class="text-white" fxFlex="200px" style="font-weight: bold;"> บัตรสเวนเซ่นส์การ์ด </button>
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: bold;"> ข้อมูลของฉัน </button>
        </div>
    </div> -->
    <div fxLayout="row" fxFlex="50px" style="padding: 10px 0px;background-color: #cb191f;"> <!-- Below -->
        <div fxFlex="30" fxLayoutGap="15px" fxLayoutAlign="start center">
            <div>&nbsp;</div>
            <mat-icon class="text-white icon" >facebook</mat-icon>
        </div>
        <div fxFlex="70" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-button class="text-white" fxFlex="150px" style="font-weight: lighter;"> คำถามที่พบบ่อย </button>
            <button mat-button class="text-white" fxFlex="200px" style="font-weight: lighter;"> ข้อกำหนดการใช้งาน </button>
            <button mat-button class="text-white" fxFlex="200px" style="font-weight: lighter;"> นโยบายความเป็นส่วนตัว </button>
        </div>
    </div>
</div>