
<form [formGroup]="form" autocomplete="off" >
    <div fxFlex style="padding: 10px;">
        <div fxFlex></div>
        <div fxLayout="column" fxFlex="30">
            <mat-card>
                <mat-card-header fxLayout="row" style="background-image:url(../../assets/card-head.png); background-size: contain; background-repeat: no-repeat; padding: 100px 0px;">
                    <div fxLayout="column" fxFlex="50" fxLayoutGap="10px" style="padding: 0px 20px;">
                        <mat-label class="text-white"><h1>สร้างบัญชี</h1></mat-label>
                        <mat-label class="text-white"><h3>สมัครสมาชิกและเริ่มใช้งาน</h3></mat-label>
                    </div>
                    <div fxFlex="50"></div>
                </mat-card-header>
                <mat-card-content fxLayout="column">

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                        <div fxLayout="column" fxFlex="50">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-label class="text-left" fxFlex>ชื่อ</mat-label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-form-field class="example-full-width" fxFlex>
                                  <mat-label>กรอกชื่อ</mat-label>
                                  <input matInput placeholder="" type="text" formControlName="first_name" required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="column" fxFlex="50">
                            <div fxLayout="row" fxLayoutAlign="center center" >
                                <mat-label class="text-left" fxFlex>นามสกุล</mat-label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-form-field class="example-full-width" fxFlex>
                                  <mat-label>กรอกนามสกุล</mat-label>
                                  <input matInput placeholder="" type="text" formControlName="last_name" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>เบอร์โทรศัพท์</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field class="example-full-width" fxFlex >
                          <mat-label>กรอกเบอร์โทรศัพท์</mat-label>
                          <input matInput placeholder="" type="text" formControlName="tel" mask="000-000-0000" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>Username</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field class="example-full-width" fxFlex >
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="" type="text" formControlName="username" required >
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>อีเมล</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field class="example-full-width" fxFlex >
                          <mat-label>กรอกอีเมล</mat-label>
                          <input matInput placeholder="" type="text" formControlName="email" required >
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>รหัสผ่าน</mat-label>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field class="example-full-width" fxFlex >
                          <mat-label>กรอกรหัสผ่าน</mat-label>
                          <input matInput placeholder="" type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                          <button mat-icon-button matSuffix
                            type="button"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"
                            (click)="hide = !hide">
                          <mat-icon class=" text-darkgray">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                        </mat-form-field>
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>เพศ (ไม่ระบุได้)</mat-label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <mat-radio-group xFlex formControlName="gender" required>
                        <mat-radio-button *ngFor="let item of genderList" [value]="item.id">{{item.name}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-label class="text-left" fxFlex>ของขวัญวันเกิดรอคุณอยู่</mat-label>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex>
                            <mat-label>วว/ดด/ปปปป</mat-label>
                            <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly="" formControlName="birth_date" required>
                            <!-- <mat-hint>วว/ดด/ปปปป</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </div>
                    

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-checkbox class="example-margin" (change)="checkTerm($event.checked)">ฉันได้อ่านและยอมรับ ข้อกำหนดการใช้งาน และ นโยบายความเป็นส่วนตัว <br>ของสเวนเซ่นส์</mat-checkbox>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button fxFlex="80" class="btn-red" (click)="submit()" [disabled]="!form.value.checkTerm" [ngClass]="!form.value.checkTerm ? 'btn-white' : 'btn-red'"> สมัครสมาชิก </button>    
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <div fxFlex></div>
    </div>
</form>